html,
body.full {
    height: 100% !important;
    background: #ededed !important;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
    margin-left: auto !important;
    flex-grow: 1 !important;
    -ms-flex-negative: 0 !important;
    flex-shrink: 0 !important;
    background: black !important;
}
